.stack>*+* {
    margin-top: var(--stack-space, 0em);
}

.email {
    margin-bottom: auto;
    text-decoration: underline;
    text-decoration-color: #333
}

.heading {
    font-size: var(--body);
}

/* フッターにもアイコンがあるのでモバイル時は表示しない */
@media screen and (max-width: 768px) {
    .contactSocial {
        display: none;
    }
}