.request {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;


}

@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}

.FormItem {

  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media screen and (max-width: 480px) {
  .FormItem {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;

  }
}

.FormItem:nth-child(5) {}

.FormItemLabel {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .FormItemLabel {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

.FormItemLabel.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px) {
  .FormItemLabel.isMsg {
    margin-top: 0;
  }
}

.FormItemLabelRequired {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #545454;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .FormItemLabelRequired {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.FormItemLabelFree {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #fff;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .FormItemLabelFree {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }

}



.FormItemInput {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .FormItemInput {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

.FormItemTextarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 30px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .FormItemTextarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.FormBtn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #545454;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .FormBtn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

.FormRadio {
  position: relative;
  text-align: center;
  padding-left: 0em 0em 2em 2em;
  justify-content: space-around;
}

@media screen and (max-width: 480px) {
  .FormRadio {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}