.text {
  text-align: center;
}

.title {
  font-size: var(--display);
  font-weight: 900;
  letter-spacing: 0.15em;
  color: rgba(9, 17, 67, 0.241);
  z-index: 5;
  padding-bottom: 0px;
}

.subtitle {
  padding-bottom: 5em;
  font-size: var(--small-heading2);
  z-index: 3;
}

/* image */
.image {
  width: 100%;
}


@media (min-width: 768px) {
  .image {
    width: 50%;
  }
}