.stack > * + * {
    margin-top: var(--stack-space, 0em);
}

.buttonlink a {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
    border-left: solid 5px #6bb6ff;
}
.buttonlink a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #6bb6ff;
    transition: .3s;
    left:0;
}
.buttonlink a:hover {
    color: #FFF;
}
.buttonlink a:hover:before {
    width: 100%;
    z-index: -1;
}


/* .buttonlink {
    width: 180px;
    display: inline-block;
    background-color: rgb(235, 64, 64);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    padding: 15px 0;
    border-radius: 50px;
} */