.flexContainer {
    composes: sideBySide from './utils.module.css';
    gap: var(--space-mid);
    margin: var(--space-mid) 0 var(--space-lg);
}

@media (min-width: 768px) {
    .main {
        width: 768px;
    }

    .sidebar {
        width: 240px;
        position: sticky;
        top: 40;
        align-self: flex-start;
    }

    .sidebar * {
        text-align: right;
    }

    .sidebar :is(div, ul) {
        width: fit-content;
        margin-left: auto;
        place-items: flex-end;
        place-content: flex-end;
    }
}